body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
            

.top-left-image {
  height: 40px;
  margin-left: 20px;
  margin-right: -10px;
}

.nav {
  overflow: hidden;
  display: flex;
  padding: 10px 8px;
}

.logo_heading{
  margin-bottom: -5px;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  background-color: #dddddd;
  color: black;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 80px;
  gap: 25px;
  margin-top: 10px;
  padding: 0 20px; /* Adjusted padding for alignment */
}

.signin {
  display: flex;
  align-items: center;
  position: relative;
}

.content {
  margin-left: 50px;
  margin-top: 70px;
  padding: 20px;
}

.mainimage {
  float: right;
  margin-top: 43px;
}

.language_icon{
  margin-left: 820px;
  margin-top: -10px;
  cursor: pointer;
}

.button-background {
  width: 100px;
  height: 40px;
  background: #5242d8;
  border-radius: 10px;
  border: 1px #5242d8 solid;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 875px;
  margin-top: -10px;
  /* left: 0; */
}

.signin-button {
  width: 80px;
  color: white;
  font-size: 20px;
  font-family: serif;
  position: relative;
  margin-left: 50px;
  margin-top: -10px;
  z-index: 1;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

#readMoreBtn {
  background-color: #5242d8; /* Button background color */
  color: white; /* Text color */
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

#readMoreBtn:hover {
  background-color: #4131b4; /* Darker shade for hover effect */
}


.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
